# http://dev.mysql.com/doc/refman/5.5/en/connecting.html

# On Unix, MySQL programs treat the host name localhost specially, 
# in a way that is likely different from what you expect compared 
# to other network-based programs. For connections to localhost, 
# MySQL programs attempt to connect to the local server by using 
# a Unix socket file. 

[client]
protocol=tcp
